* {
  margin: 0;
  padding: 0;
}

#top-title {
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.book-list {

}


.book-list:nth-child(odd) {
  background-color: #fa0606;
}
.book-list:nth-child(even) {
    background-color: blue;
}
