* {
  margin: 0;
  padding: 0;
}

#top-title {
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.book-list {

}



/* .book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} */

/* .book-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
} */
/* 
.book-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
} */

/* .remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  padding-left: 6px;
  padding-right: 6px;
} */



.book-list:nth-child(odd) {
  background-color: #fa0606;
}
.book-list:nth-child(even) {
    background-color: blue;
}
